@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="text-center my-5">
    <h1 class="display-4">Вітаємо в системі обліку клієнтів ClientsApp!</h1>
    <p class="lead">Цей застосунок допомагає керувати клієнтами, завданнями, робочим часом та оплатами.</p>
</div>

<div class="home-links">
    <p><a href="@Url.Action("Index", "Client")">Клієнти</a>Керуйте інформацією про клієнтів.</p>
    <p><a href="@Url.Action("Index", "Executor")">Виконавці</a>Додавайте та редагуйте виконавців.</p>
    <p><a href="@Url.Action("Index", "ClientTask")">Завдання</a>Створюйте та відстежуйте завдання клієнтів.</p>
    <p><a href="@Url.Action("Index", "ExecutorTask")">Облік робочого часу</a>Фіксуйте витрати часу виконавців.</p>
    <p><a href="@Url.Action("Index", "Payment")">Оплати</a>Переглядайте та додавайте платежі.</p>
</div>
